*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

img {
    width: 150px;
    border-radius: 80px;
    margin-top: 160px;
}

li {
    text-decoration: none;
    list-style: none;
}

.header-menu{
    /* //Torna o nosso elemento flexcontainer automaticamente transformando todos os seus filhos diretos
    em flex itens*/
  display:flex;
  position:fixed; /*Deixa o nosso header fixo*/
  width:100%; /*largura*/
  padding: 8px; /*espaçamento dos quatros lados*/
  padding-bottom: 32px; /*espaçamento inferior*/
  padding-top: 32px;/*espaçamento superior*/
  height: 60px;
  background-color: #724796;
    margin-bottom: 200px;
 }

 .header-menu nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
  
 .lista-menu{
   display:flex;
   justify-content: space-evenly; /*Espaçamento entre eles seja igual*/
   width:50%;
 }

 .lista-menu li>a{
    color: #FFF;
    font-size: 18px;
    text-decoration: inherit;
 }

.principal {
    height: 120vh;
    display: flex;
    background-color: #EDEAEA;
}

.principal h1{
    color: #938DF8;
    font-weight: 700;
    font-size: 36px;

}

.principal h2{
    margin-bottom: 20px;
    color: #C5C0C0;
}

.description-portfolio{
    width: 600px;
    height: 180px;
}

/* O container é um componente do Bootstrap que garante que o seu layout vai ficar alinhado corretamente na página.
Ele pode definir as margens laterais da página, ou deixar sem margens e, também, posiciona o conteúdo no centro do browser. O container é invisível. */
.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

.subcontainer-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topico-principal{
    padding-top: 40px;
    font-size: 36px;
    color: #ff4dbc;
}

.lista-item{
    padding: 32px;
}

.lista-item ul li {
    text-decoration: none;
    margin-bottom: 32px;
}

.lista-titulo{
    margin-bottom: 5px;
    font-size: 22px;
    color: #661e4b;
    font-weight: 700;
}

.subtitulo-lista{
    font-size: 18px;
    color: #828282;
    font-weight: 500;
}

.footer{
    background: #724796;
    height: 30vh;
    display: flex;
    align-items: center;
    padding: 20px;
}

.lista-footer{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    margin: 12px;
    display: flex;
    align-items: center;
}

.lista-footer img {
   width: 20px;
   margin: 8px;
}

.wrapper-portfolio{
    background-color: #EDEAEA;
    display: flex;
    flex-direction: column;
}


